$hover: rgba($color: #000000, $alpha: 0.2);
$on-active: rgba($color: #000000, $alpha: 0.3);
$before-color:  #f7810d;
$active: rgba($color: #000000, $alpha: 0.5);
$background: #3F3E3F;
$color: #F1F6A1;