@import "../../utilities/variables";


.cardLeft {
    transform: scale(0);
    position: absolute;
    padding: 0;
    margin: 0;
}

.cardLeft-appear {
    transform: scale(0);
}
.cardLeft-appear-active {
    transform: scale(0);
}
.cardLeft-appear-done {
    transform: scale(0);
}
.cardRight-appear {
    transform: scale(0);
}
.cardRight-appear-active {
    transform: scale(0);
}
.cardRight-appear-done {
    transform: scale(0);
}

.cardLeft-enter {
    transition: transform 350ms ease, opacity 300ms, scale 300ms ease;
    transform: translateX(-150%) scale(0);
    opacity: 0;
}

.cardLeft-enter-active {
    transition: transform 350ms ease-in, opacity 300ms, scale 300ms ease-in;
    transform: translateX(-50%) scale(0);
    opacity: .7;
}

.cardLeft-enter-done {
    transition: transform 350ms ease-in, opacity 300ms, scale 300ms ease-in;
    transform: translateX(0) scale(1);
    opacity: 1;
}

.cardLeft-exit {
    z-index: 100;
    transition: transform 350ms ease, opacity 300ms, scale 300ms ease;
    transform: translateX(0) scale(1);
    opacity: 1;
}

.cardLeft-exit-active {
    z-index: 100;
    transform: translateX(-50%) scale(0);
    opacity: .5;
    transition: transform 500ms ease-out, opacity scale 450ms ease-in;
}

.cardLeft-exit-done {
    z-index: 100;
    transition: transform 350ms ease-in, opacity 300ms, scale 300ms ease-in;
    transform: translateX(-150%) scale(0);
    opacity: 0;
}
.cardRight {
    transform: scale(0);
    position: absolute;
    padding: 0;
    margin: 0;
}

.cardRight-enter {
    transition: transform 350ms ease, opacity 300ms, scale 300ms ease;
    transform: translateX(150%) scale(0);
    opacity: 0;
}

.cardRight-enter-active {
    transform: translateX(50%) scale(0);
    opacity: .7;
}

.cardRight-enter-done {
    transition: transform 350ms ease-in, opacity 300ms, scale 300ms ease-in;
    transform: translateX(0) scale(1);
    opacity: 1;
}

.cardRight-exit {
    z-index: 100;
    transition: transform 350ms ease, opacity 300ms, scale 300ms ease;
    transform: translateX(0) scale(1);
    opacity: 1;
}

.cardRight-exit-active {
    z-index: 100;
    transform: translateX(50%) scale(0);
    opacity: .5;
    transition: transform 500ms ease-out, opacity scale 450ms ease-in;
}

.cardRight-exit-done {
    z-index: 100;
    transition: transform 350ms ease-in, opacity 300ms, scale 300ms ease-in;
    transform: translateX(150%) scale(0);
    opacity: 0;
}




.visblie-wraper {
    transition: transform 0.25s ease;
    &__odd {
        
        &--visible {
            transform: translateX(-2000px);
        }
        
        &--unvisible {
            transform: translateX(0px);
        }
    }

    &__even {
        
        &--visible {
            transform: translateX(-2000px);
        }

        &--unvisible {
            transform: translateX(0px);
        }
    }
}

.card-container {
    
    & > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow-y: auto;
    }

    & section {
        margin-bottom: 1%;
    }
}

.card {
    position: relative;
    display: flex;
    width: 49%;
    height: 250px;
    border: solid 1px #000;
    box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.3);
    background-color: $background;
    color: $color;
    
    &__delete {
        position: absolute;
        width: 20px;
        height: 20px;
    }

    &--video {
        display: flex;
        width: 100%;
        height: auto;
        border: solid 1px #000;
        margin-left: 0 !important;
        box-shadow: 2px 8px 6px 3px rgba(0, 0, 0, 0.3);
        background-color: $background;
        color: $color;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        padding: 20px;
        
        &--head {
            display: flex;
            width: 100%;
            align-items: center;

            & svg {
                width: 15px;
                height: 15px;
                margin-left: auto;
            }

            & img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: blueviolet;
                margin-right: 20px;
            }

            & video {
                width: 240px;
                height: 180px;
            }
        }
        
        &--medium {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30%;
        }
    }

    --video {
        width: 100%;
    }
}

@media (max-width: 950px) {

    .card {
        &__video {
            width: 440px;
            height: 240px;
        }
    }
}

@media (max-width: 900px) {
  
    .card {
        &__video {
            width: 420px;
            height: 220px;
        }
    }
}

@media (max-width: 850px) {

    .card {
        &__video {
            width: 400px;
            height: 200px;
        }
    }
}

@media (max-width: 750px) {

    .card {
        &__video {
            width: 380px;
            height: 190px;
        }
    }
}

@media (max-width: 425px) {

    .card {
        width: 100%;
        
        &--video {
            flex-direction: column;
        }

        &__video {
            width: 380px;
            height: 220px;
        }
    }
}

@media (max-width: 375px) {

    .card {
        width: 100%;

        &--video {
            flex-direction: column;
        }
        
        &__video {
            width: 335px;
            height: 190px;
        }
    }
}

@media (max-width: 320px) {
    .card {
        width: 100%;

        &--video {
            flex-direction: column;
        }

        &__video {
            width: 285px;
            height: 180px;
        }
    }
}
