@import "../../utilities/variables";

@mixin cardVideo {
    display: flex;
    height: auto;
    border: solid 1px #000;
    margin-left: 0 !important;
    box-shadow: $boxShadow;
    background-color: $background;
    color: $color;
    transition: transform 500ms ease-out, opacity 450ms ease-in, display 300ms ease-in;
    transform: scale(1) translateX(0);
}

.visblie-wraper {
    transition: transform 0.25s ease;
    &__odd {
        &--visible {
            transform: translateX(-2000px);
        }

        &--unvisible {
            transform: translateX(0px);
        }
    }

    &__even {
        &--visible {
            transform: translateX(-2000px);
        }

        &--unvisible {
            transform: translateX(0px);
        }
    }
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & section {
        margin-bottom: 1%;
    }
}

.card {
    position: relative;
    display: flex;
    width: 49%;
    height: 250px;
    border: solid 1px #000;
    box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.3);
    background-color: $background;
    color: $color;
    transition: transform 500ms ease-out, opacity 450ms ease-in;
    transform: scale(0) translateX(-150%);

    &__unvideo {
        transition: transform 500ms ease-out, opacity 450ms ease-in, display 350ms ease-in;
        transform: scale(0) translateX(-150%);
        background-color: $background;
        width: 49%;

        &--show {
            width: 49%;
            @include cardVideo;
        }
    }
    &__video {
        background-color: $background;
        transition: transform 500ms ease-out, opacity 450ms ease-in;
        transform: scale(0) translateX(150%);
        
        &--show {
            width: 100%;
            @include cardVideo;
        }
    }

    &__delete {
        position: absolute;
        z-index: 100;
        width: 20px;
        height: 20px;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        padding: 20px;

        &--head {
            display: flex;
            width: 100%;
            align-items: center;

            & svg {
                width: 15px;
                height: 15px;
                margin-left: auto;
            }

            & img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: blueviolet;
                margin-right: 20px;
            }
        }

        &--medium {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30%;
        }
    }

    &__video {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .card {
        &__video {
            width: 100%;
            height: 240px;
        }
    }
}

@media (max-width: 900px) {
    .card {
        &__video {
            height: 220px;
        }
    }
}

@media (max-width: 850px) {
    .card {
        &__video {
            height: 200px;
        }
    }
}

@media (max-width: 750px) {
    .card {
        &__video {
            height: 190px;
        }
    }
}

@media (max-width: 425px) {
    .card {
        width: 100%;
        height: auto;
        &__unvideo--show {
            width: 100%;
        }
        &__video--show {
            flex-direction: column;
            width: 100%;
            & video {
                width: 380px;
            }
        }
    }
}

@media (max-width: 375px) {
    .card {
        width: 100%;

        &__video--show {
            flex-direction: column;
            width: 100%;
            & video {
                width: 336px;
            }
        }
    }
}

@media (max-width: 320px) {
    .card {
        width: 100%;

        &__video--show {
            flex-direction: column;
            width: 100%;
            & video {
                width: 286px;
            }
        }
    }
}
