.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

    &__params--active {
            background-color: rgba($color: #000000, $alpha: .3);
        }
    &__cending--active {
            background-color: rgba($color: #000000, $alpha: .3);
        }
    
    
    &__filter {
        display: flex;
        flex-direction: column;
        width: 55%;
        &--params {
            border: solid 1px #000;
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            margin-bottom: 10px;
            & :nth-child(3) {
                border-right: none;
            }
            & div {
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;    
                border-right: solid 1px #000;
                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #000000, $alpha: .2);
                }
                &:active {
                    background-color: rgba($color: #000000, $alpha: .5);
                }
            } 
        }
       
        
        &--cending {
            border: solid 1px #000;
            display: grid;
            grid-template-columns: 50% 50% ;   
            & :nth-child(2) {
                border-right: none;
            }
            & div {
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;    
                border-right: solid 1px #000;  
                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #000000, $alpha: .2);
                }
                &:active {
                    background-color: rgba($color: #000000, $alpha: .5);
                }
                &--active {
                    background-color: rgba($color: #000000, $alpha: .1);
                }
            } 
        }
    }
    
    &__nav {
        display: flex;
        width: 35%;
        border: 1px solid #000;
        & div {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-right: solid 1px #000;  
            cursor: pointer;
            &:hover{
                background-color: rgba($color: #000000, $alpha: .2);
            }
            &:active {
                background-color: rgba($color: #000000, $alpha: .5);
            }
        } 
        
        & :nth-child(2) {
            border-right: none;
        }
    }
    &__link {
        &--active {
            border: none;
            background-color: rgba($color: #000000, $alpha: .3);
        }
    }
}