@import "../../utilities/variables";

@mixin beforeButton {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0px;
    height: 3px;
    background-color: $before-color;
    transition: transform 0.25s ease;
}

@mixin beforeInButton {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0px;
    height: 3px;
    background-color: $before-color;
    transition: transform 0.25s ease;
}


.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

    &__params {
        position: relative;

        &::before {
            z-index: 100;
            @include beforeButton;
            transform: scaleX(0);
        }

        &--active {
            position: relative;
            background-color: $background;
            color: $color;

            &::before {
                @include beforeButton;
                transform: scaleX(1) ;
            }
        }
        
        &:hover {
            background: none;
            &::before {
                background: none;
                transform: scaleX(1);
                background-color: $before-color;
            }
        }
    }

    &__cending {
        position: relative;
        
        &::before {
            z-index: 100;
            @include beforeInButton;
            transform: scaleX(0);
        }
        
        &--active {
            position: relative;
            background-color: $background;
            color: $color;

            &::before {
                @include beforeInButton;
                transform: scaleX(1);
            }
        }
        
        &:hover {
            background: none;
            
            &::before {
                background: none;
                transform: scaleX(1);
                background-color: $before-color;
            }
        }
    }

    &__input-filter {
        position: absolute;
        top: 80px;
        left: 500px;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        width: 55%;
        
        &--params {
            border: solid 1px #000;
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            margin-bottom: 10px;
            
            & :nth-child(3) {
                border-right: none;
            }
            
            & div {
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: solid 1px #000;
                cursor: pointer;
                
                &:hover {
                    background-color: $hover;
                }
                
                &:active {
                    background-color: $active;
                }
            }
        }

        &--cending {
            border: solid 1px #000;
            display: grid;
            grid-template-columns: 50% 50%;
            
            & :nth-child(2) {
                border-right: none;
            }
            
            & div {
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: solid 1px #000;
                cursor: pointer;
                
                &:hover {
                    background-color: $hover;
                }

                &:active {
                    background-color: $active;
                }
                
                &--active {
                    background-color: $background;
                    color: $color;
                }
            }
        }
    }

    &__nav {
        display: flex;
        width: 35%;
        border: 1px solid #000;
        
        & div {
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-right: solid 1px #000;
            cursor: pointer;
            transition: transform 0.45s ease, background-color 0.45s ease,  color 0.45s ease;   
            
            &:hover {
                background-color: $hover;
                color: #000;
                & center {
                    transform: scale(1.2)
                };
            }
            
            &:active {
                background-color: $active;
            }
        }

        & :nth-child(2) {
            border-right: none;
        }
    }
    &__link {

        &--active {
            border: none;
            background-color: $background;
            color: $color;
        }
    }
}

@media (max-width: 1024px) {

    .header {
       
        &__input-filter {
            position: absolute;
            left: 400px;
        }
    }
}

@media (max-width: 768px) {

    .header {
        &__input-filter {
            position: absolute;
            left: 300px;
        }
    }
}

@media (max-width: 550px) {
    
    .header {
        font-size: x-small;
    }
}


@media (max-width: 425px) {
    
    .header {
        &__input-filter {
            position: absolute;
            top: 49px;
            left: 283px;
        }
    }
}
@media (max-width: 414px) {
    
    .header {
        &__input-filter {
            position: absolute;
            top: 48px;
            left: 273px;
        }
    }
}
@media (max-width: 375px) {
    
    .header {
        &__input-filter {
            position: absolute;
            top: 49px;
            left: 123px;
        }
    }
}
